@import url("https://fonts.googleapis.com/css2?family=Playball&family=Quicksand:wght@300;400;500;600;700&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  
}

.navbar-item {
  color: #666666;
  text-decoration: none;
}

.active {
  color: #2FA4FF;
  text-decoration: none;
}
